<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SparrowReservation.My.MySettings.sparrowsresortConnectionString"
            connectionString="Data Source=den1.mssql1.gear.host;Initial Catalog=sparrowsresort;Persist Security Info=True;User ID=sparrowsresort;Password=@Ssignment123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>